*{
  margin: 0;
  padding: 0;
}
.game-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #242424;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins" , sans-serif;
}

.tittle{
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

.game-status{
  color: #fff;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 5px;
}
button{
  cursor: pointer;
  font-size: 25px;
}